<template>
  <div id="nav">
    <router-link to="/">Accueil</router-link> |
    <router-link to="/posts">Write a news</router-link> |
    <router-link to="/about">À propos</router-link>
  </div>
  <router-view/>
</template>

<style>
body{
    background-color: #f5f5f5; 
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #00B8D4;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 350px; Un peu de hauteur pour que les éléments aient la place de bouger */

}

.card {
  max-width:800px;
  width: 100%;
  background-color: white;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  padding: 24px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
}

.card article {
  text-align: justify;
  line-height: 1.5;
  text-indent: 1.5em;
}

.author{
    position: relative;
    padding:5px;
    margin-left: -24px;
    margin-top: -24px;
    width: fit-content;
    font-size: 12pt;
    background-color: #e8e6e3;
    color: #555;
}

</style>
