<template>
  <div class="card">
    <div class="author">{{ author }}</div>
    <h2>{{ title }}</h2>
    <h3>{{ date }}</h3>
    <article>
      {{ msg }}
    </article>
  </div>
</template>

<script>
export default {
  name: 'News',
  props: {
    title: String,
    msg: String,
    date: String,
    author: String
  }
}
</script>