<template>

  <!-- <div class="home"> -->
    <div class="card">
        <div>
          <label for="title">Title</label>
          <input v-model="article_title" type="text" id="title" name="article_title" />
        </div>
        <div>
          <label for="msg">Content</label>
          <textarea v-model="article_content" id="content" name="article_content"></textarea>
        </div>
        <div>
          <label for="author">Author</label>
          <input v-model="article_author" type="text" id="author" name="article_author" />
        </div>
        <div class="date">
          <label style="display:inline-block;">Date</label> : {{ article_date }}
        </div>
        <div class="contain_button">
          <button @click="test">Post a News</button> 
        </div>
    </div>
  <!-- </div> -->
</template>

<style scoped>
input, label, button, textarea{
  display: block;
}

input, textarea{
  width: 99%;
  margin-bottom: 20px !important;
  padding: 5px;
  font-size: 16px;
  /* border-color: #E0E0E0; */
}

label{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.date{
  font-size: 20px;
  /* font-weight: bold; */
}

textarea { 
  resize: vertical;
  margin: 0;
}

.card{
  text-align: left;
}

.contain_button{
  height: 20px;
  margin-top: 20px;
}

button {
  float: right;
  background: #00B8D4;
	border: solid 1px #00B8D4;
	color: white;
	cursor: pointer;
	padding: 10px 50px;
	text-align: center;
	text-transform: uppercase;
  border-radius: 2px;
}

button:hover {
	background: #00E5FF;
	border: solid 1px #00E5FF;
}

button:active {
	background: #006064;
	border: solid 1px #006064;
}

</style>

<script>
import axios from 'axios';

export default {
  name: 'WrittingNews',
  data() {
    return {
      article_title:"",
      article_content:"",
      article_author:"",
      article_date:""
    }
  },
  methods: {
    test() {
      axios.post('http://localhost:8080/news', {
        title: this.article_title,
        author: this.article_author,
        text: this.article_content
      })
      .then(function (response) {
        console.log(response);
      })
    }
  },
  mounted: function () {
      var today = new Date();
      this.article_date = today.getDate()+"/"+(today.getMonth()+1)+"/"+today.getFullYear();
      console.log(this.article_date);
    }
}
</script>