<template>
  <div class="about">
    <img alt="Vue logo" src="../assets/logo.png">
    <h1>©2021 ARQ News</h1>
    <p>
      LASSIAZ Alexandre, THIZY Quentin & VANELLE Rémi
    </p>
  </div>
</template>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #00B8D4;
}
</style>
