<template>
  <div class="home">
    <h1>ARQ News</h1>
    <section class="container">
      <News v-for="(article, id) in articles"
        :title="article.title"
        :date="article.pDate"
        :msg="article.text"
        :author="article.author"
      />
    </section>
  </div>
</template>

<script>
// @ is an alias to /src
import News from '@/components/News.vue'

import axios from 'axios';

export default {
  name: 'Home',
  data() {
    return {
      articles: []
    }
  },
  components: {
    News
  },
  methods: { 
    
  },
  mounted: function () {
      axios.get('http://localhost:8080/news')
      .then(res=>{
        console.log(res.data)
        res.data.forEach(element => {
            this.articles.push(element);
        });
      })
      .catch(function (error) {
        // handle error
        console.log(error);
      });
  }
}
</script>