<template>
  <div class="posts">
    <h1>Write a news</h1>
    <section class="container">
      <WrittingNews/>
    </section>
  </div>
</template>

<script>
import WrittingNews from '@/components/WrittingNews.vue'

export default {
  name: "Posts",
  components: {
    WrittingNews
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #00B8D4;
}
</style>
